
* {
  margin: 0;
}

.app__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blogs__container {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
  justify-content: center;
  align-content: center;
}

.blog {
  width: 100%;
  padding: 2rem;
  border: 1px solid #222;
  margin-top: 2em;
}

.blog__blog-details {
  font-size: 24px;
  transition: all 0.3 ease-out
}